/*Your styles*/

 body {
    margin: 10px;
}


#content {
    margin-right:auto;
    margin-left:auto;
    vertical-align:middle;
    width:100%;
}


#btn_test{
    width: 100%;
}

#content{
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 1fr 50px 50px;
    column-gap: 10px;
    row-gap: 10px;
}

header{
    grid-column: 1/3;
    grid-row: 1/2;
}

aside{
    grid-column: 1/2;
    grid-row: 2/3;
    overflow: hidden;
    background: rgb(49, 51, 70);
}

main{
    grid-column: 2/3;
    grid-row: 2/3;
}

    #layers{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        background: rgb(41, 41, 49);
        padding: 10px;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    }

        tr{
            /*display: block;*/
            margin-top: 10px;
            margin-right: 10px;
            border-radius: 3px;
        }
            td{
                display: block;
            }

            #layers tr td select{
                    background: rgb(32, 32, 34);
                    color: white;
                    border-radius: 3px;
                }

#otherProcess{
    grid-column: 1/3;
    grid-row: 3/4;
}                

    .topcoat-button-bar__item{
        box-shadow: 5px 5px 5px rgb(0,0,0,0.5);
    }

    #number{
        width: 50px;
    }

footer{
    grid-column: 1/3;
    grid-row: 4/5;
}

/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}